body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: start;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #82AAE3;
}

input[type="date"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.container {
    display: flex; /* Use flexbox to align elements horizontally */
    align-items: center; /* Vertically center items in the container */
    justify-content: space-between; /* Create space between elements */
}

.filter-container,
.search-form {
    display: flex; /* Make the child elements of the container flex */
    align-items: center; /* Vertically center items in each container */
}

/* Style for the search input */
.search-form input[type="search"] {
    padding: 10px;
    border: 1px solid #82AAE3;
    border-radius: 5px;
}

/* Style for the search button */
.search-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #82AAE3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button[type="submit"]:hover {
    background-color: #91D8E4;
}