body, h1, button {
    margin: 0;
    padding: 0;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
  }

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Header styles */
.header {
    display: flex;
    text-align: left;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: inline-block;
    text-align: left;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #176B87;
    border-radius: 4px;
}

input {
    margin-left: 10px;
    padding: 5px;
    border: 2px solid #176B87;
}

.container input[type="submit"] {
    padding: 8px 15px;
    background-color: #176B87;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.container input[type="submit"]:hover {
    background-color: #64CCC5;
}

#name {
    margin-left: 34px;
}

/* Table styles */
.input-group {
    text-align: center;
    margin: 10px 0 10px 0;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.content-table th,
.content-table td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}

.content-table th {
    background-color: #176B87;
    color: white;
}

.content-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Remove button */
.input-cell button {
    padding: 6px 10px;
    background-color: #176B87;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.input-cell button:hover {
    background-color: #64CCC5;
}

.input-cell input {
    width: 90%;
    padding: 5px;
    border: none;
    background-color: transparent;
    font-family: inherit;
    color: inherit;
    padding: 0px;
}

td:nth-child(1) {
    width: 20px;
}

td {
    border: 2px solid black;
}

th {
    border: 2px solid black;
}

.table-container {
    max-height: 500px; /* Adjust the maximum height as needed */
    overflow-y: auto;
}

/* Style for the totals-container */
/* Styling for the totals-container */
.totals-container {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Styling for the subtotal, discount, tax, and grand total sections */
.subtotal, .perc_discnt, .tax, .total {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

/* Styling for labels */
.total_sub, .discount_perc, .tax_perc{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.grand_ttl{
    font-weight: bold;
    font-size: 30px;
    margin-right: 10px;
} 

/* Styling for numeric values */
.sub_number, .disc_percnumb, .tax_percnumb{
    font-weight: bold;
    font-size: 20px;
}

.total_numb{
    font-weight: bold;
    font-size: 30px;
}

/* Styling for the "Settle Payment" button */
#popupButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#popupButton:hover {
    background-color: #45a049;
}

/* Popup styles */
.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 15px;
    color: #333;
    z-index: 999; /* Ensure it's above other elements */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    visibility: hidden;
    transform: transform 0.4s;
}

.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
}

/* Popup header styles */
.popup .header {
    text-align: center;
}

/* Popup content styles */
.popup .invoice-no,
.popup .select-date,
.popup .product-table,
.popup .subtotal,
.popup .tax,
.popup .total {
    text-align: center;
    margin-bottom: 10px;
}

/* Popup table styles */
.popup .product-table {
    width: 100%;
    border-collapse: collapse;
}

.popup .product-table th,
.popup .product-table td {
    border: 1px solid #000;
    padding: 8px;
}

.popup .product-table th {
    background-color: #f0f0f0;
}

/* Popup footer styles */
.popup .footer {
    text-align: center;
    margin-top: 20px;
}

/* Popup button styles */
.popup button.cancel {
    padding: 10px 15px;
    margin: 5px;
    background-color: #FF5733; /* Red color */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
}

.popup button.cancel:hover {
    background-color: #D32F2F; /* Darker red on hover */
}

.popup button.okay {
    padding: 10px 15px;
    margin: 5px;
    background-color: #4CAF50; /* Red color */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
}

.popup button.okay:hover {
    background-color: #45a049; /* Darker red on hover */
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1;
}
.modal-overlay.open {
    display: block;
}


