.header-box{
width: 100%;
text-align: center;
margin-top: 50px;
margin-bottom: 50px;
}
.content-table{
border-collapse: collapse;
margin: 25px;
font-size: 0.9em;
min-width: 400px;
}
.content-table thead tr{
    background-color: rgb(18, 104, 87);
    color: aqua;
    text-align: left;
    font-weight: bold;
}