body, h1, button {
    margin: 0;
    padding: 0;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
  }

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Header styles */
.header {
    display: flex;
    text-align: left;
    color: #333;
    margin-bottom: 20px;
}

.content-table {
    margin-top: 5px;
      width: 100%;
      border-collapse: collapse;
      background-color: white;
    }
    
    .content-table th,
    .content-table td {
      border: 2px solid black;
      padding: 8px;
      text-align: center;
    }
    
    .content-table th {
      background-color: #176B87;
      color: white;
      border: 2px solid black;
    }
    
    .content-table tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    .content-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.content-table th,
.content-table td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}

.content-table th {
    background-color: #176B87;
    color: white;
}

.content-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.input-cell input {
    width: 90%;
    padding: 5px;
    border: none;
    background-color: transparent;
    font-family: inherit;
    color: inherit;
    padding: 0px;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
}

td:nth-child(1) {
    width: 20px;
    height: 15px;
}

td {
    border: 2px solid black;
}

th {
    border: 2px solid black;
}

.table-container {
    max-height: 500px; /* Adjust the maximum height as needed */
    overflow-y: auto;
}

.btn-qr {
    background-color: #176B87;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 10px;
}

.btn-qr:hover {
    background-color: #64CCC5;
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 15px;
    }

    .content-table{
        margin-bottom: 10px;
    }

    .content-table th {
        background-color: #176B87;
        color: white;
        font-size: 10px;
    }

    .content-table td {
        font-size: 10px;
    }

    .content-table th, .content-table td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }

    .btn-qr {
        background-color: #176B87;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 3px;
        font-size: 10px;
        margin-top: 3px;
    }
}

@media only screen and (max-width: 375px) and (min-width: 320px) {
    h1 {
        font-size: 16px;
    }

    .content-table{
        margin-bottom: 10px;
    }

    .content-table th {
        background-color: #176B87;
        color: white;
        font-size: 11px;
    }

    .content-table td {
        font-size: 11px;
    }

    .content-table th, .content-table td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }

    .btn-qr {
        background-color: #176B87;
        color: #fff;
        border: none;
        padding: 6px 10px;
        cursor: pointer;
        border-radius: 3px;
        font-size: 10px;
        margin-top: 3px;
    }
}

@media only screen and (max-width: 425px) and (min-width: 375px) {
    h1 {
        font-size: 20px;
    }

    .content-table{
        margin-bottom: 12px;
    }

    .content-table th {
        background-color: #176B87;
        color: white;
        font-size: 13px;
    }

    .content-table td {
        font-size: 13px;
    }

    .content-table th, .content-table td {
        border: 2px solid black;
        padding: 7px;
        text-align: center;
    }

    .btn-qr {
        background-color: #176B87;
        color: #fff;
        border: none;
        padding: 9px 10px;
        cursor: pointer;
        border-radius: 3px;
        font-size: 11px;
        margin-top: 3px;
    }
}