*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
    min-height: 100vh;
    background: #FFD07F;
    color: #fff;
    background-size: cover;
    background-position: center;
  }

  .side-bar{
    background: #FF8243;
    width: 330px;
    height: 90vh;
    position: fixed;
    top: 74px;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
    z-index: 1;
  }

  .menu{
    width: 100%;
    margin-top: 0px;
  }

  .menu .item{
    position: relative;
    cursor: pointer;
  }

  .menu .item a{
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
  }

  .side-bar .menu .item a:hover{
    background: #FDA65D;
    transition: 0.3s ease;
  }

  .item i{
    margin-right: 15px;
  }

  .item a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
  }

  .item .sub-menu{
    background: #FFDCA9;
    display: none;
  }

  .rotate{
    transform: rotate(90deg);
  }


  .title-container {
    position: relative;
    background-color: #E26A2C;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    position: flex;
    align-items: center;
    width: 100%;
    margin-left: 20px;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

::-webkit-scrollbar{
  background: #fff;
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: #471ea7c6;
}

.center-embedded {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.embedded-cashiering {
  position: fixed;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Set a desired aspect ratio, e.g., 16:9, 4:3, etc. (height / width * 100) */
  overflow: hidden;
  margin-top: 60%;
  left: 350px; /* Add the amount of right offset you want */
  transform: translateX(20px); /* Further shift it right by the same amount to keep it centered */
}

.embedded-cashiering iframe {
  transform: scale(0.7); /* Set the scale factor as needed (0.7 means 70% of the original size) */
  transform-origin: 0 0; /* Set the origin of the scale to the top-left corner */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inv-manage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.embedded-invmanage {
  position: fixed;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Set a desired aspect ratio, e.g., 16:9, 4:3, etc. (height / width * 100) */
  overflow: hidden;
  margin-top: 60%;
  left: 350px; /* Add the amount of right offset you want */
  transform: translateX(20px); /* Further shift it right by the same amount to keep it centered */
}

.embedded-invmanage iframe {
  transform: scale(0.7); /* Set the scale factor as needed (0.7 means 70% of the original size) */
  transform-origin: 0 0; /* Set the origin of the scale to the top-left corner */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}