.container {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
}

.filter-container,
.search-form {
    display: flex; 
    align-items: center; 
}

/* Style for the search input */
.search-form input[type="search"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the search button */
.search-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button[type="submit"]:hover {
    background-color: #0056b3;
}