/* stockadj.css */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

/* Header styles */
.header {
  text-align: left;
  color: black;
  margin-bottom: 20px;
}

/* Form styles */
form {
  text-align: start;
}

input[type="search"] {
  padding: 10px;
  border: 1px solid #176B87;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  padding: 10px 15px;
  background-color: #176B87;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}


button[type="submit"]:hover {
  background-color: #64CCC5;
}

/* Table styles */
.content-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-table th,
.content-table td {
  padding: 15px;
  text-align: left;
  border: 2px solid #176B87;
  border-bottom: 2px solid #176B87;
}

.content-table th {
  border: 2px solid black;
  background-color: #f5f5f5;
  font-weight: bold;
}

/* Input field styles */
.content-table input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button styles */
.confirm-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #176B87;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.confirm-button:hover {
  background-color: #64CCC5;
}

/* Adjust column widths */
.content-table th:nth-child(1),
.content-table th:nth-child(2) {
  width: 40%;
}

.content-table th:nth-child(3),
.content-table th:nth-child(4) {
  width: 20%;
}

.content-table th:nth-child(5) {
  width: 10%;
}

/* Adjust actions column */
.content-table td:last-child {
  text-align: center;
}

.content-table td:last-child button {
  padding: 6px 10px;
  background-color: #82AAE3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.content-table td:last-child button:hover {
  background-color: #91D8E4;
}