body, h1, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.header {
    display: flex;
    text-align: left;
    color: #333;
    margin-bottom: 20px;
}

.add-button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #176B87;
    border: #f0f0f0;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

/* Style for the search form */
form {
    text-align: start;
    margin-bottom: 20px;
}

/* Style for the search input */
input[type="search"] {
    padding: 5px;
    border: 1px solid #176B87;
    border-radius: 3px;
}

/* Style for the search button */
button[type="submit"] {
    background-color: #176B87;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #64CCC5;
  }

.add-button a {
    color: white;
    text-decoration: none;
}

.add-button:hover {
    background-color: #64CCC5;
}

/* Style for the content table */
.content-table {
    width: 100%;
    border-collapse: collapse;
}

/* Style for table header cells */
.content-table th {
    background-color: #176B87;
    padding: 10px;
    color: white;
    text-align: left;
    border: 2px solid black;
}

/* Style for table data cells */
.content-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Style for even rows */
.content-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style for table option cells */
.content-table td[colspan="2"] {
    text-align: center;
}

.content-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style for empty row cells */
.content-table tbody tr td {
    border: 2px solid #ddd; /* Add border property */
    padding: 10px;
}

/*prev and next button */
.pagination {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: flex-end;
  }
  
  .pagination button {
    padding: 8px 12px;
    border: none;
    background-color: #176B87;
    cursor: pointer;
  }
  
  .page-num {
    padding: 8px 12px;
    font-weight: bold;
  }
  
  .prev-btn {
    border-radius: 5px 0 0 5px;
  }
  
  .next-btn {
    border-radius: 0 5px 5px 0;
  }